*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.svnignore
/gradlew
/gradlew.bat
/plugins/src/main/java/com/yeestor/plugin/UsageApplication.java
/.idea/
/gradle/wrapper/
